[Basic]
method-rgx=([a-z_][a-z0-9_]{2,30}$)|setUp|tearDown
no-docstring-rgx=(__.*__)|(test_.*)

[Design]
min-public-methods=0
max-public-methods=80

[Messages Control]
# W0142: Allow use of *args and **kwargs
# R0201: Don't warn about methods that could be functions
disable=W0142,R0201

[Variables]
additional-builtins=_
